* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
textarea {
	outline: none;
}

body {
	width: 300px;
	.main {
		.list {
			.item {
				padding-left: 10px;
				height: 30px;
				line-height: 30px;
				font-size: 14px;
				cursor: pointer;
				border-bottom: 1px solid #999;
				&.active {
					background-color: #ffeaea;
				}
			}
		}
		.ipt {
			min-width: 100%;
			max-width: 100%;
			min-height: 120px;
			max-height: 240px;
			padding: 10px;
			font-size: 14px;
			border: none;
			border-bottom: 1px solid #999;
		}
		.btns {
			padding: 10px;
			display: flex;
			justify-content: flex-end;
			.btn {
				width: 50px;
				height: 30px;
				font-size: 14px;
				cursor: pointer;
				&.reset {
					margin-left: 10px;
				}
			}
		}
	}
}
